<div class="product-card">
  <div class="img-container">
    <div class="img-container__inner">
      <img [src]="product.image" alt="Game Picture" />
    </div>
  </div>

  <div class="info-container">
    <div class="info-container__title">
      <span>{{ product.title }}</span>
    </div>
    <div class="info-container__publisher">
      <span>{{ product.publisher }}</span>
    </div>

    <div class="info-container__platforms">
      <img
        *ngFor="let platform of ['pc', 'playstation', 'xbox']"
        [src]="'/assets/images/' + platform + '.png'"
        width="20px"
        height="20px"
      />
    </div>

    <div class="info-container__description">
      <div class="info-container__year">
        <span>{{ 2015 }}</span>
      </div>
      <div class="info-container__price">
        <span>{{ product.price | number: "1.2-2" | currency }}</span>
      </div>
      <div class="info-container__rating">
        <span>50</span>
      </div>
    </div>
  </div>

  <div class="product-card__actions">
    <button
      class="add-button"
      mat-raised-button
      color="primary"
      #cartBtn
      *ngIf="(countInCart$ | async) === 0"
      (click)="add()"
      matTooltip="Add {{ product.title }} to cart"
    >
      Add to basket
    </button>
    <app-cart-count-controls
      #controls="countControls"
      *ngIf="(countInCart$ | async)! > 0"
      (increment)="add()"
      (decrement)="remove()"
      [productName]="product.title"
      [count]="(countInCart$ | async)!"
      [available]="product.count"
    ></app-cart-count-controls>
  </div>
</div>
